body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #3333336b;
    padding: 10px;
  }
  
  .navegacionPrincipal {
    display: flex;
    list-style: none;
    
  }

  h1{
    font-family:  'Bebas Neue';
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .navegacionPrincipal li a {
    color: #fff;
    text-decoration: none;
  }

  .logo {
    height: 60px;
    margin-left:100 auto;}

.logo_inicio{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegacionenlase{
  margin:10px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.navegacion__texto{
  position: absolute;
  color: white;
  font-family: 'Merriweather', serif;
  top: 2%;
  left: 45%;
  text-align: center;
}

.direccion{
  font-size: 15px;
  position:absolute;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  left: 5%;

}

header{
  background-image: url(../assets/fondo_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 790px;
  position: relative;
  filter: grayscale(80%); /* Aquí puedes ajustar el tipo de filtro que deseas aplicar */
  
}

.texto__header{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;  
}

main{
  background-color:#1B1B1B ;
}

.textoBlanco{
  color: #fff;
}

.textoPrincipal{
  color: #fff;
  text-align: center; 
}

.imagenTamaño{
  height: 500px;
  width: 350px;
}

.servicios{
  display: flex;
  margin-left: 100px;
  margin-top: 70px;

  
}

.contenedor-cortes{
  position: relative;
}

.textoCortes{
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  color: #fff; 
}

.imagenCorte{
  margin: 50px;
}




