body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #3333336b;
    padding: 10px;
  }
  
  .navegacionPrincipal {
    display: flex;
    list-style: none;
    
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .navegacionPrincipal li a {
    color: #fff;
    text-decoration: none;
  }

  .logo {
    height: 60px;
    margin-left:100 auto;}

.logo_inicio{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegacionenlase{
  margin:10px;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.navegacion__texto{
  text-align:center;
  color: white;

  font-family: 'Merriweather', serif;
  font-size: 10px;
  padding-right: 15rem;
 
}

.direccion{
  font-size: 15px;
  padding: 20px 200px 0 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 20rem;
  margin-top: 0.8rem;
}

