body {
    background-color: #1b1b1b;
    box-sizing: border-box;
  }
  


  h1{
    font-family:  'Bebas Neue';
  }

  h2{
    font-family: 'Roboto Condensed', sans-serif;  }

  p{
    font-family: 'Noto Sans', sans-serif;
  }
  
.bg-light{
  background-color: #1b1b1b !important;
}

.navbar-light .navbar-brand{
  color: #fff;
}

.navbar-light .navbar-brand:hover{
  color: #FFFFFF;
background: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #d2ac7f, 0 0 30px #d2ac7f, 0 0 40px #d2ac7f, 0 0 55px #d2ac7f, 0 0 75px #d2ac7f;
}

.navbar-toggler-icon{
  background: url('https://api.iconify.design/ph/list-light.svg?color=white') no-repeat center center / contain;
  content: url('https://api.iconify.design/ph/list-light.svg?color=white');

}

.navbar-light .navbar-nav .nav-link{
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active{
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.7);}

  .navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff
  }



.navegacion__texto{
  position: absolute;
  color: white;
  font-family: 'Merriweather', serif;
  top: 2%;
  left: 42%;
  text-align: center;
}

.header__index{
  background-image: url(../assets/fondo_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 790px;
  position: relative;
  filter: grayscale(80%); 
  
}

.header__nosotros{
  background-image: url(../assets/fondo_header_nosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 790px;
  position: relative;
  filter: grayscale(50%); 
  

}

.header__turnos{
  background-image: url(../assets/fondo_header_turnos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 790px;
  position: relative;
  filter: grayscale(50%); 
}

.header__ubicacion{
  background-image: url(../assets/fondo_header_ubicacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 790px;
  position: relative;
  filter: grayscale(50%); 
}

.texto__header{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;  
  text-shadow: 2px 2px 2px #000000;
}




.textoPrincipal{
  color: #fff;
  text-align: center; 
}

.imagenTamaño{
  height: 500px;
  width: 350px;
}

.servicios{
  display: flex;
  margin-left: 100px;
  margin-top: 70px;

  
}

.contenedor-cortes{
  position: relative;
}

.textoCortes{
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  color: #fff; 
  text-shadow: 4px 4px 2px rgba(157, 150, 150, 0.663);
}

.imagenCorte{
  margin: 50px;
}

.imagenCorte:hover{
  filter: grayscale(60%);}

.imagenCarrusel{
  height: 570px;
}

/*Footer*/

footer{
  position: fixed;
  bottom: 0;
}

@media (min-width:800px ) 
{
  footer{
    position: static;
  }
   
}

.footer_distribucion{
  background-color: #1b1b1b;
  widows: 100%;
  text-align: center;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;

}

.footer_distribucion .footer__izquieda, .footer_distribucion .footer__center, .footer_distribucion 
.footer__derecha {
    display: inline-block;
    vertical-align: top;

}



.footer_distribucion .footer__izquieda {
  width: 30%;
}

.footer_distribucion h3 {
  color: #fff;
  font: normal 36px 'cookie',cursive;
  margin: 0;
}

.footer_distribucion h3 span{
  color:#71716f;
}

.footer_distribucion .footer_links{
  color: #fff;
  margin: 20px 0 12px;

}

.footer_distribucion .footer_links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit ;

}

.footer_distribucion .footer__cayetanobarber{
  color: #c5c3c3;
  font-size: 14px;
  font-weight: normal;
  margin: 0;

}


.footer_distribucion .footer__center{
  width: 35%;

}

.footer_distribucion .footer__center img{
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;


}

.footer_distribucion .footer__center p{
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

.footer_distribucion .footer__center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer_distribucion .footer__derecha {
  width: 30%;
}

.footer_distribucion .footer__sobrenosotros{
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;

}

.footer_distribucion .footer__sobrenosotros span{
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;

}

.footer_distribucion .footer__icons{
  margin-top: 25px;

}

.footer_distribucion .footer__icons a{
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 880px) {
  .footer_distribucion .footer_links, .footer_distribucion .footer__center,
  .footer_distribucion .footer__derecha{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer_distribucion .footer__center{
    margin-left: 0;
  }
   
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.barber {
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
}

.barber img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.contenedor__presentacion{
  display: flex;
  background-color: #333332;
  margin-top: 60px;
}

.imagen__presentacion{
  height: 400px;
  margin-top: 5px;

}

/*Turnos*/

.textoFormulario_turnos{
  color: #fff;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
  height: 100px;
}

input[type="submit"] {
  background-color: #d2ac7f;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #ca985c;
}

.main_formulario{
  position:relative ;
  margin-bottom: 100px;
}

.main_formulario_contenedor{
  position: absolute;
  top: -33rem;
  left: 36rem;
 
}


