$fuenteprimaria:normal 24px/1.5 'Bebas Neue', sans-serif;

$fuentresecundario:normal 24px/1.5  'Roboto Condensed', sans-serif;

$fuenteparrafos:normal 24px/1.5  'Noto Sans', sans-serif;

$colorblanco:#fff;


