$fuenteprimaria:'Teko', sans-serif;

$fuentresecundario:'Fira Sans Condensed', sans-serif;

$fuentetercera:'Fira Sans Condensed', sans-serif;

$fuenteparrafos: 'Fira Sans Condensed', sans-serif;

$colorblanco:#fff;


